.tab_1{
  background:#fff;
  margin-top: -17px;
  margin-left: -17px;
}
.tab_2{
  background: #fff;
  margin-top: -420px;
  margin-left: 287px;
}
.tab_2 img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display:inline-block;
  vertical-align:middle;
  position: initial;
}
.tab_3{
  background:#fff;
  margin-top: -420px;
  margin-left: 592px;
}
.tab_3 h1{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  font-weight: normal;
}
.tab_2 h2{
  margin-left: 75px;
}
.tab_2 h5{
  margin-left: 115px;
}
.tab_2 hr{
  width: 300px;
  background-color: #f0f3f6;
  margin-top: 40px;
}
.tab_2 .hr1{
  margin-top: 15px;
}
.tab_2 .hr2{
  margin-top: 10px;
}
.tab_2 .hr3{
  margin-top: 10px;
}
.tab_2 .hr4{
  height: 136px;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  margin-left: 145px;
  margin-top: -136px;
  background-color: #f0f3f6;
  color: #f0f3f6;
  width: 2px;
  border: none;
}
.block_1 h2{
  margin-top: -20px;
  margin-left: 10px;
}
.block_1 h5{
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}
.block_2 h2{
  margin-top: -20px;
  margin-left:  160px;
  text-align: left;
}
.block_2 h5{
  margin-top: -45px;
  margin-left:  160px;
}
.block_3 h2{
  margin-top: -20px;
  margin-left: 10px;
}
.block_3 h5{
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}
.block_4 h2{
  margin-top: -20px;
  margin-left:  160px;
  text-align: left;
}
.block_4 h5{
  margin-top: -45px;
  margin-left:  160px;
}
.label{
  margin-top: 30px;
}
.tab_2 h4{
  color: #59c2e6;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 15px;
}
.ii{
  margin-top: -12.5px;
  margin-left: -130px;
}
.ii2{
  margin-top: -16.5px;
  margin-left: -55px;
}
.centerdou h2{
  color: #4f5f6f;
  padding-left: 70px;
  margin-top: 50px;
  position: absolute;
  transform: translate(50%, 50%);
}
.centerdou h5{
  color: #4f5f6f;
  padding-left: 35px;
  margin-top: 110px;
  position: absolute;
  transform: translate(50%, 50%);
}
#timeline{
  margin-left: 750px;
  margin-top: -40px;
}
.timeline{
  margin-left: 810px;
  margin-top: -28px;
  width: 90px;
  height: 40px;
  border-radius: 19px;
  background-color: #dbe1e8;

}
.timeline:hover{
  background-color: #b4b7bb;
}
.timeline h5{
  padding-top: 11px;
  margin-left: 10px;
  font-size: 15px;
  color: #4f5f6f;
  font-weight: normal;
}
.timearrow_1{
  position: initial;
  margin-left: 540px;
  margin-top: -50px;
  margin-bottom: 30px;
  color: #4f5f6f;
  font-size: 20px;
}

.timearrow{
  position: initial;
  margin-left: 60px;
  margin-top: -21px;
  margin-bottom: 30px;
  color: #4f5f6f;
  font-size: 20px;
}
.timearrow_2{

  margin-left: -10px;
  margin-top: -50px;
  margin-bottom: 30px;
  color: #4f5f6f;
  font-size: 20px;
}
.dropdown-content button{
  width: 120px;
  border: none;

}
.dropdown-content1 button{
  width: 120px;
  border: none;
}
